body {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 50px;
}

#team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: flex-start; */
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;

}

h2 {
  font-family: 'Press Start 2P', cursive;
}

body, button, select {
  font-family: 'Play', sans-serif;
}

.name {
  font-weight: bold;
}

.pokemon {
  text-align: center;
  border-style: ridge;
  border-radius: 25px;
  border-width: 5px;
  border-color: #F2DA63;
  padding: 10px 50px;
  margin: 10px 5px;
}

.grass {
  background-color: #00A309;
}

.bug {
  background-color: #88A300;
}

.fire {
  background-color: #FF2327;
}

.electric {
  background-color: #FFD13D;
}

.water {
  background-color: #0081F3;
}

.ice {
  background-color: #00DAFE;
}

.psychic {
  background-color: #FF3F7B;
}

.ghost {
  background-color: #7E3F72;
}

.fighting {
  background-color: #FF8000;
}

.ground {
  background-color: #A45116;
}

.dark {
  background-color: #543E3F;
}

.poison {
  background-color: #B35AD8;
}

.steel {
  background-color: #27A2BB;
}

.rock {
  background-color: #B1AB7F;
}

.dragon {
  background-color: #4663E4;
}

.fairy {
  background-color: #FF72F4;
}

.normal {
  background-color: #9FA29F;
}

.flying {
  background-color: #61B9F2;
}

.active:hover {
  border-color: grey;
  background-color: red;
}

#message {
  color: red;
}